<h3 align='center'>Programacion</h3>
<h3 align='center'>Jorge Andres Duque Restrepo</h3>
<h3 align='center'>Mini challenge #12</h3>
<h3 align='center'>08/05/2023</h3>

In [18]:
import pandas as pd
import numpy as np

1. En el archivo <tt>titanic.csv</tt> encontrará una data sobre los pasajeros del Titanic. Cargue los datos en un `DataFrame`y realice cálculos que permitan respoder las siguientes preguntas:
    1. Número de pasajeros que sobrevivieron por cada clase (Columna <tt>Pclass</tt>)
    1. Proporción de hombres y mujeres que murieron
    1. Tarifa promedio por clase para sobrevivientes y muertos

In [15]:
#inicializo las variables que necesito
aux_vivos=0
aux_proporcionH=0
aux_proporcionM=0
contador=0
aux_vivos1=0
aux_vivos2=0
aux_vivos3=0
aux_promedio1=0
aux_promedio2=0
aux_promedio3=0

#creo mi data frame con el archivo que nos piden interpretar
pd.set_option('display.max_rows', None) 
titanic = pd.read_csv('archivos/titanic.csv',sep=',')

#inicializo las condiciones
condicion_v = titanic['Survived']==1 
condicion_VH = (titanic.Survived==1) & (titanic.Sex=='male')
condicion_VM = (titanic.Survived==1) & (titanic.Sex=='female')
condicion_V1 = (titanic.Survived==1) & (titanic.Pclass==1)
condicion_V2 = (titanic.Survived==1) & (titanic.Pclass==2)
condicion_V3 = (titanic.Survived==1) & (titanic.Pclass==3)

#ciclo While para contar cuantos vivos quedaron
while contador<=890:
    if condicion_v.loc[contador] == True:
        aux_vivos+=1
    contador+=1
contador=0

#Ciclo while para ver cuantos de esos sobrevivientes son hombres
while contador<=890:
    if condicion_VH.loc[contador] == True:
        aux_proporcionH+=1
    contador+=1
contador=0

#Ciclo while para ver cuantos de esos sobrevivientes son hombres
while contador<=890:
    if condicion_VM.loc[contador] == True:
        aux_proporcionM+=1
    contador+=1
contador=0

#ciclo While para contar cuantos vivos quedaron clsae 1 y promedio
while contador<=890:
    if condicion_V1.loc[contador] == True:
        aux_vivos1+=1
        aux_promedio1+=titanic.loc[contador,'Fare']
    contador+=1
contador=0

#ciclo While para contar cuantos vivos quedaron clsae 2 y promedio
while contador<=890:
    if condicion_V2.loc[contador] == True:
        aux_vivos2+=1
        aux_promedio2+=titanic.loc[contador,'Fare']
    contador+=1
contador=0

#ciclo While para contar cuantos vivos quedaron clsae 3 y promedio
while contador<=890:
    if condicion_V3.loc[contador] == True:
        aux_vivos3+=1
        aux_promedio3+=titanic.loc[contador,'Fare']
    contador+=1

#operaciones
Hombres = float((aux_proporcionH/aux_vivos)*100)
Mujeres = float((aux_proporcionM/aux_vivos)*100)
promedio_calse1=float(aux_promedio1/aux_vivos1)
promedio_clase2=float(aux_promedio2/aux_vivos2)
promedio_clase3=float(aux_promedio3/aux_vivos3)

#muestro en pantalla los resultados
print(f"Muertos por clase:\nPrimera clase-{aux_vivos1}\nSegunda clase-{aux_vivos2}\nTercera clase-{aux_vivos3}\nHombres-%{Hombres:.2f}\nMujeres-%{Mujeres:.2f}\nTrifa promedio por clase:\nPrimera clase-${promedio_calse1:.2f}\nSegunda clase-${promedio_clase2:.2f}\nTercera clase-${promedio_clase3:.2f}")

Muertos por clase:
Primera clase-136
Segunda clase-87
Tercera clase-119
Hombres-%31.87
Mujeres-%68.13
Trifa promedio por clase:
Primera clase-$95.61
Segunda clase-$22.06
Tercera clase-$13.69

In [68]:
#leo el archivo a interpretar 
pd.set_option('display.max_rows', None) 
boston = pd.read_excel('archivos/boston_dataset.xlsx')

#Calculo estadisticas descriptivas
media=boston.iloc[:,1:].mean()
mediana=boston.iloc[:1:].median(skipna=True,numeric_only=True)
moda=boston.iloc[:,1:].mode()
describe = boston.describe()

#muestro la informacion (correr tambien los siguientes cinco bloques)

In [69]:
print("Media:")
media.head(14)

Media:

CRIM         3.613524
ZN          11.363636
INDUS       11.136779
NOX          0.554695
RM           6.284634
AGE         68.574901
DIS          3.795043
RAD          9.549407
TAX        408.237154
PTRATIO     18.455534
B          356.674032
LSTAT       12.653063
MEDV        22.528854
dtype: float64

In [70]:
print("Mediana:")
mediana.head(14)

Mediana:

CRIM         0.00632
ZN          18.00000
INDUS        2.31000
NOX          0.53800
RM           6.57500
AGE         65.20000
DIS          4.09000
RAD          1.00000
TAX        296.00000
PTRATIO     15.30000
B          396.90000
LSTAT        4.98000
MEDV        24.00000
dtype: float64

In [71]:
print("Moda:")
moda.head(14)

Moda:

,CRIM,ZN,INDUS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.01501,0.0,18.1,0.538,5.713,100.0,3.4952,24.0,666.0,20.2,396.9,6.36,50.0
1,14.33370,NaN,NaN,NaN,6.127,NaN,NaN,NaN,NaN,NaN,NaN,7.79,NaN
2,NaN,NaN,NaN,NaN,6.167,NaN,NaN,NaN,NaN,NaN,NaN,8.05,NaN
3,NaN,NaN,NaN,NaN,6.229,NaN,NaN,NaN,NaN,NaN,NaN,14.10,NaN
4,NaN,NaN,NaN,NaN,6.405,NaN,NaN,NaN,NaN,NaN,NaN,18.13,NaN
5,NaN,NaN,NaN,NaN,6.417,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [72]:
print("STD:")
describe.iloc[2:3,:].head()

STD:

,CRIM,ZN,INDUS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
std,8.601545,23.322453,6.860353,0.115878,0.702617,28.148861,2.10571,8.707259,168.537116,2.164946,91.294864,7.141062,9.182176

In [73]:
print("Percentiles:")
describe.iloc[3:,:].head()

Percentiles:

,CRIM,ZN,INDUS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
min,0.006320,0.0,0.46,0.385,3.5610,2.900,1.129600,1.0,187.0,12.60,0.3200,1.730,5.000
25%,0.082045,0.0,5.19,0.449,5.8855,45.025,2.100175,4.0,279.0,17.40,375.3775,6.950,17.025
50%,0.256510,0.0,9.69,0.538,6.2085,77.500,3.207450,5.0,330.0,19.05,391.4400,11.360,21.200
75%,3.677083,12.5,18.10,0.624,6.6235,94.075,5.188425,24.0,666.0,20.20,396.2250,16.955,25.000
max,88.976200,100.0,27.74,0.871,8.7800,100.000,12.126500,24.0,711.0,22.00,396.9000,37.970,50.000